* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

header {
  margin: 44px 0 144px 76px;
}

.link-header {
  text-decoration: none;
  color: #989D9C;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29px;
  text-transform: uppercase;
  margin-right: 23px;
}

.button-header {
  background: #665AE1;
  text-transform: uppercase;
  border-radius: 20.5px;
  border: none;
  color: white;
  width: 130px;
  height: 41px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29px;
  cursor: pointer;
}

.logo-image {
  width: 550px;
  height: 500px;
  margin-left: 125px;
  display: inline-block; /* quero controlar o tamanho dela mas ao mesmo tempo quero que fique na mesma linha da minha section */
}

section {
  display: inline-block;
  margin-left: 86px;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151; 
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
}

p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #848484;
  width: 515px;
  margin: 32px 0 65px; 
}

.button-main {
  background: #ADFF00;
  border-radius: 30px;
  border: none;
  height: 64px;
  width: 239px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}